.page-header-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  position: relative;

  &.browser-header {
    background-color: rgb(10, 30, 57);
    width: 100%;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 15px black;
    position: fixed;
    z-index: 10;
  }
}
.page-logo {
  width: 45%;
  margin-bottom: 0.5rem;
  margin-top: 30%;

  &.browser-page-logo {
    width: 10%;
    margin-top: 0;
    margin-right: 72%;
  }
}

.moto {
  font-size: 20px;
  font-family: "Franklin Gothic Medium";
  text-align: center;
  color: white;
}

.sign-out-button {
  background-color: white;
  color: #007bff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}
