.gtpmovie-container {
  background-color: black;
  width: 80%;
  height: 700px;
  position: absolute;
  top: 13%;
  left: 10%;
  border-radius: 20px;
}
.search-bar {
  margin-top: 5%;
  margin-left: 12%;
  display: flex;
  gap: 10px;
}
